VITE_API_BASE_URL=http://localhost:5000
VITE_SIGNALR_HUB_URL=http://localhost:5000/hubs/game

# Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=categories-game-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=categories-game-app
VITE_FIREBASE_STORAGE_BUCKET=categories-game-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=552375143983
VITE_FIREBASE_APP_ID=1:552375143983:web:e1a02d25c8d5f8f062c0da
